<!-- Left content part -->
<div id="contentBlock">
  <h2 class="subheader biggest">Create your Ad in 3 easy steps</h2>
  
  <div class="item first">
    <h3 class="subheader"><a href="">Step 1 - Plan your campaign</a></h3>
    <span class="date">11/19/2011</span>
    <div class="in">
      <img src="img/img-left.jpg" width="115" height="79" alt="" class="left" />
      <p>Phasellus lacus nisi, ullamcorper at, sollicitudin in, gravida vitae, dolor. Vivamus semper lacus id libero. Nam blandit. Donec orci. Pellentesque ultricies. Donec non nunc lobortis dui posuere cursus. In scelerisque nisi a mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
    </div>
  </div><!-- // Item -->
  
  <div class="item">
    <h3 class="subheader"><a href="">Step 2 - Design your Ad</a></h3>
    <span class="date">02. 04.</span>
    <div class="in">
      <a href=""><img src="../img/img1.jpg" width="118" height="94" alt="" class="fl" /></a>
      <a href=""><img src="img/img2.jpg" width="129" height="94" alt="" class="fl" /></a>
      <a href=""><img src="img/img3.jpg" width="128" height="94" alt="" class="fl" /></a>
      <a href=""><img src="img/img4.jpg" width="128" height="94" alt="" class="fl" /></a>
      <p>Phasellus lacus nisi, ullamcorper at, sollicitudin in, gravida vitae, dolor. Vivamus semper lacus id libero. Nam blandit. Donec orci. Pellentesque ultricies. Donec non nunc lobortis dui posuere cursus. In scelerisque nisi a mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
    </div>
  </div><!-- // Item -->
  
  <div class="item last">
    <h3 class="subheader"><a href="">Step 3 - Review and Checkout</a></h3>
    <span class="date">28. 03.</span>
    <div class="in">
      <p>Phasellus lacus nisi, ullamcorper at, sollicitudin in, gravida vitae, dolor. Vivamus semper lacus id libero. Nam blandit. Donec orci. Pellentesque ultricies. Donec non nunc lobortis dui posuere cursus. In scelerisque nisi a mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
    </div>
  </div><!-- // Item -->
</div><!-- // ContentBlock -->

<hr class="hidden" />


<!-- Right sidebox -->
<div id="rightBlock">


  <div class="box register">
	
	<div class="in">
		<h3 class="subheader">Ready to create an Ad ?</h3>		
    	<form action="" method="post">
	  		<fieldset>
	    		<input type="submit" value="Start Now" class="submit" />
	  		</fieldset>
		</form>
	</div>
  </div><!-- // Box -->

 <div class="box submenu">
    <h3 class="subheader">My Ads</h3>
    <div class="in">
      <ul>
        <li><a href="">Ad1</a></li>
        <li><a href="">Ad2</a></li>
        <li><strong>No Ad Registered</strong></li>
        <li><a href="">Ad4</a></li>
      </ul>
    </div>
  </div><!-- // Box -->

</div><!-- // RightBlock -->
