<!-- Left content part -->
<div id="contentBlock">
  <h2 class="subheader biggest">Own a Display and Make money</h2>
  
  <div class="item first">
    <h3 class="subheader"><a href="">Easiest way to make money</a></h3>
    <span class="date">11/19/2011</span>
    <div class="in">
      <img src="img/img-left.jpg" width="115" height="79" alt="" class="left" />
      <p>Phasellus lacus nisi, ullamcorper at, sollicitudin in, gravida vitae, dolor. Vivamus semper lacus id libero. Nam blandit. Donec orci. Pellentesque ultricies. Donec non nunc lobortis dui posuere cursus. In scelerisque nisi a mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
    </div>
  </div><!-- // Item -->
  
</div><!-- // ContentBlock -->

<hr class="hidden" />


<!-- Right sidebox -->
<div id="rightBlock">


  <div class="box register">
	
	<div class="in">
		<h3 class="subheader">Register your Display</h3>		
    	<form action="" method="post">
	  		<fieldset>
	    		<input type="submit" value="Register" class="submit" />
	  		</fieldset>
		</form>
	</div>
  </div><!-- // Box -->

 <div class="box submenu">
    <h3 class="subheader">My Displays</h3>
    <div class="in">
      <ul>
        <li><a href="">Display1</a></li>
        <li><a href="">Display2</a></li>
        <li><strong>No Display Registered</strong></li>
        <li><a href="">Display3</a></li>
      </ul>
    </div>
  </div><!-- // Box -->

</div><!-- // RightBlock -->
