



	<!-- Navigation Bar -->
   	<p class="navi"><a href="">Hlavní strana</a> &gt; <a href="">Podstrana</a> &gt; Jiná podstrana</p>
   	<a href="" id="printPage">Tiskni stranu</a>
	
	<!-- Left content part -->
    <div id="contentBlock">
      <h2 class="subheader biggest">Georgia nadpis - dodatek</h2>
      
      <div class="item first">
        <h3 class="subheader"><a href="">Nadpis nejnovějšího příspěvku</a></h3>
        <span class="date">11/19/2011</span>
        <div class="in">
          <img src="img/img-left.jpg" width="115" height="79" alt="" class="left" />
          <p>Phasellus lacus nisi, ullamcorper at, sollicitudin in, gravida vitae, dolor. Vivamus semper lacus id libero. Nam blandit. Donec orci. Pellentesque ultricies. Donec non nunc lobortis dui posuere cursus. In scelerisque nisi a mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
        </div>
      </div><!-- // Item -->
      
      <div class="item">
        <h3 class="subheader"><a href="">Nadpis o trochu staršího příspěvku</a></h3>
        <span class="date">02. 04.</span>
        <div class="in">
          <a href=""><img src="../img/img1.jpg" width="118" height="94" alt="" class="fl" /></a>
          <a href=""><img src="img/img2.jpg" width="129" height="94" alt="" class="fl" /></a>
          <a href=""><img src="img/img3.jpg" width="128" height="94" alt="" class="fl" /></a>
          <a href=""><img src="img/img4.jpg" width="128" height="94" alt="" class="fl" /></a>
          <p>Phasellus lacus nisi, ullamcorper at, sollicitudin in, gravida vitae, dolor. Vivamus semper lacus id libero. Nam blandit. Donec orci. Pellentesque ultricies. Donec non nunc lobortis dui posuere cursus. In scelerisque nisi a mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
        </div>
      </div><!-- // Item -->
      
      <div class="item last">
        <h3 class="subheader"><a href="">Nadpis o trochu staršího příspěvku 2</a></h3>
        <span class="date">28. 03.</span>
        <div class="in">
          <p>Phasellus lacus nisi, ullamcorper at, sollicitudin in, gravida vitae, dolor. Vivamus semper lacus id libero. Nam blandit. Donec orci. Pellentesque ultricies. Donec non nunc lobortis dui posuere cursus. In scelerisque nisi a mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
        </div>
      </div><!-- // Item -->
    </div><!-- // ContentBlock -->
    
    <hr class="hidden" />
	
	<!-- Right sidebox -->
    <div id="rightBlock">
      <div class="box submenu">
        <h3 class="subheader">Kategorie</h3>
        <div class="in">
          <ul>
            <li><a href="">Tiskové portfolio</a></li>
            <li><a href="">Microsites a mini weby</a></li>
            <li><strong>Celé kampaně</strong></li>
            <li><a href="">Nerealizovaný design</a></li>
          </ul>
        </div>
      </div><!-- // Box -->

      <div class="box contact">
        <h3 class="subheader">Kontaktujte nás</h3>
        <div class="in">
          <h4 class="phone">Tel: +420 121 565 909</h4>
          <address>Nám. T.G.M. 637, 468 51, Smržovka<br />IČ: 672 08 690<br />DIČ: CZ7311042519<br />č.ú.: 415146001/2400 (eBanka a.s., Na Příkopě 19, 117 19 Praha 1)</address>
          <a href="" class="more ico ico-more">Najdi na mapě</a>
        </div>
      </div><!-- // Box -->

      <div class="box rss">
        <h4><a href="">RSS Kanál - <strong>Odebírat</strong></a></h4>
      </div><!-- // Box -->
    </div><!-- // RightBlock -->





