<!-- Web footer -->
<div id="foot">

	<p class="copy">Copyright @2011 - zAdZip Inc. All rights reserved</p>    

	<ul class="menu">
	 <li><a href="">About</a></li>
     <li><a href="">Jobs</a></li>
     <li><a href="">Privacy Policy</a></li>
     <li><a href="">Terms of Use</a></li>
   </ul>


</div><!-- // Foot -->