<div id="head">
	<h1 id="logotype">zAdZip</h1>
	<form action="" method="post" id="searchForm">
  		<fieldset>
    		<legend class="hidden">zAdZip</legend>
    		<input type="text" name="" value="" class="button" />
    		<input type="submit" value="Search" class="submit" />
  		</fieldset>
	</form>
</div><!-- // Header -->

<hr class="hidden" />
